/* APP-WIDE STYLING */

html {
  background-color: #020300;
  font-family: "Padauk", sans-serif;
}

.App {
  margin: 20px;
  color: white;
  text-align: center;
}

.App-header {
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-header img {
  width: 20vw;
}

/* BASIC BUTTON STYLING */

.button {
  border-radius: 5px;
  background-color: #e46330;
  padding: 7px;
  margin: 5px 0;
  color: white;
  font-family: "Padauk", sans-serif;
  border: none;
}

.button:hover {
  cursor: pointer;
}

/* NAV BUTTON STYLING */

.nav-button {
  width: 200px;
  font-size: large;
  margin: 5px 5px;
}
