.form-fields {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px 15px;
  margin: 10px auto;
  width: 320px;
}
.form-fields label {
  text-align: right;
}
/*https://stackoverflow.com/a/48386400/12786165*/
