/* TABLE STYLING */

.credentials-table table {
  text-align: left;
  margin: 35px auto;
  border-collapse: separate;
  border-spacing: 20px 0;
}

/* BUTTON STYLING */

.affiliation-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  background-color: #103438;
  border-radius: 5px;
  padding: 5px;
  max-width: 400px;
}

.affiliation-button p {
  margin: 0 10px;
}
