.edit-user-form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px 15px;
  margin: 10px auto;

  text-align: left;
  border-radius: 5px;
  background-color: #103438;
  padding: 20px;
  box-sizing: border-box;
}
.edit-user-form label {
  text-align: right;
}

.edit-user-form ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.edit-user-form li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unassign-button {
  margin-left: 20px;
}

.edit-user-container {
  display: inline-block;
}
